@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

// DEFAULT RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


// MAIN RULES

main {
    background-color: $bg-color;
    min-height: 100vh;
    padding-top: 80px;

    .title-start {
        text-align: center;
        padding-top: 2rem;
    }

    .container {
        max-width: 1400px;
        padding: 0 2rem;
        margin: auto;

        .wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .film,
        .serie {
            width: calc(100% / 5);
            height: 100%;
            perspective: 1000px;

            .card {
                position: relative;
                width: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;

                .flip-card-front,
                .flip-card-back {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }

                .flip-card-front {
                    color: $blk-color;

                    .image {
                        width: 100%;
                        height: 400px;
                    }
                }

                .flip-card-back {
                    background-color: $blk-color;
                    color: $wht-color;
                    transform: rotateY(180deg);
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    padding: 1rem;
                    overflow-y: auto;

                    .title {
                        font-size: 1.2rem;
                    }

                    .original-title {
                        font-size: 1rem;
                    }

                    .flag {
                        width: 50px;
                        height: 33px;
                        margin: 0.5rem 0;
                    }

                    .lang {
                        padding: 0.5rem 0;
                    }

                    i.fa-star {
                        font-family: "Font Awesome 5 Free";
                        color: $stars-color;
                    }

                    .sub-title {
                        padding-top: 0.5rem;
                        color: $primary-color;
                        font-weight: 600;
                    }

                    .overview {
                        font-size: 0.8rem;
                    }

                    .not-overview {
                        padding: 1rem 0;
                    }

                    .genres {
                        display: inline-block;
                    }

                }


            }

            &:hover .card {
                transform: rotateY(180deg);
            }
        }


    }
}