// DEFAULT RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// MAIN RULES
header {
    height: 80px;
    background-color: black;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: 1600px;
        margin: auto;
        padding: 0 2rem;

        .title {
            color: red;
        }
    }

}


main {
    background-color: lightgrey;
    min-height: calc(100vh - 80px);
    padding: 2rem 0;

    .title-start {
        text-align: center;
    }

    .films-container {
        max-width: 1400px;
        padding: 0 2rem;
        margin: auto;

        .wrapper {
            padding-bottom: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .image {
            width: 100%;
            height: 370px;
        }

        .original-title {
            font-size: 1rem;
        }
    }
}